Repository Jonahnki/reddust-reclaimer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: conda_environment_test, docs

conda_environment_test:
  stage: conda-test
  image: continuumio/miniconda3:latest
  before_script:
  - echo "üêç Testing conda environment setup..."
  script:
  ...

docs:
  stage: docs
  image: python:3.10
  before_script:
  - pip install --upgrade pip
  script:
  - echo "üìö Building documentation..."
  - "if [ -f docs/requirements.txt ]; then\n  pip install -r docs/requirements.txt\nelse\n  pip install mkdocs mkdocs-material\nfi\n"
  ...

Add Vercel configuration and documentation builder
  docs/build.py
  requirements.txt
  vercel.json
Due: conda_environment_test, docs

Update vercel.json
  vercel.json
Due: none

Update build.py
  docs/build.py
Due: docs

Update requirements.txt
  requirements.txt
Due: conda_environment_test

Chore: remove empty functions config for static deployment
  vercel.json
Due: none

Build: generate static site for deployment
  docs/build.sh
  docs/dist/deployment.html
  docs/dist/index.html
  docs/dist/methodology.html
  docs/dist/research.html
  vercel.json
Due: docs

Chore: remove obsolete Python build script
  docs/build.py
Due: docs

Build: ...
  docs/dist/deployment.html
  docs/dist/index.html
  docs/dist/methodology.html
  docs/dist/research.html
Due: docs

Chore: move requirements.txt out of root to prevent Vercel Python detection
  dev-config/requirements.txt
Due: none

Docs: update README for static Vercel deployment
  README.md
Due: docs

Update README.md
  README.md
Due: docs

Add roadmap.webp to assets
  assets/roadmap.webp
Due: none

Path conditions:
  conda_environment_test: any of: environment.yml, *.py, requirements.txt
  docs: any of: docs/**/*, mkdocs.yml, *.md
